.container {
    position: relative;
    width: 100%;
}

.BackendbyHead {
    background-color: white;
    padding: 15px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white; /* Ensure background is visible */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
