.footer_main_container {
    margin-top: 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.Footer_text h1 {
    font-size: 312px;
    font-weight: normal;
    color: #50B281;
}

.Footer_links {
    margin: 200px 210px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 188px;
}


.Footer_links ul {
    list-style-type: none;
    text-align: right;
}

.Footer_links li {
    margin-bottom: 20px;
}

.star_clas {
    position: relative;
}

.star_clasMain {
    position: relative;
}

.star_clasMain svg {
    position: absolute;
    right: -20px;
    top: -16px;
}






/* 
.container {
    position: relative;
    width: 100%;
}

.BackendbyHead {
    background-color: white;
    padding: 15px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
} */