.HeroSection {
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 75px;
  max-width: 1017px;
  margin: auto;
}

.HeroSectionpart1 {
  /* border: 1px solid green; */
  height: 100%;
  width: 100%;



}

.HeroSectionpart2 {
  /* border: 1px solid green; */
  /* height: 100%;
    width: 100%; */
}

.heroImage {
  /* position: absolute; */
  width: 464px;
  height: 280px;
  margin-top: -9px;
  margin-left: -123px;
  gap: 0px;
}

.HeroSectionpart1 h1 {
  /* position: absolute; */
  /* position: relative; */
  /* font-family: Test SÃ¶hne; */
  font-size: 36px;
  font-weight: 400;
  line-height: 47.74px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 48px;
  margin-top: 21px;
  /* margin-left: 90px; */
}

.HeroSectionpart1 p {
  width: 499px;
  height: 81px;
  margin-top: 33px;
  /* font-family: Test SÃ¶hne; */
  font-size: 20px;
  font-weight: 300;
  line-height: 26.52px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
}



.VectorContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
  margin-bottom: 60px;
}


.VideoLogo {
  width: 26px;
  height: 26px;
  top: 10px;
  left: 31px;
}

.Vector {}

.HeroSectionpart2 button {
  border: none;
  width: 186px;
  height: 46px;
  margin-top: 10px;
  /* margin-left: 1079px; */
  padding: 10px 31px 10px 31px;
  gap: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;


  background: rgba(80, 178, 129, 1);
  color: rgba(40, 43, 40, 1);
  font-family: Test SÃ¶hne;
  font-size: 16px;
  font-weight: 300;
  line-height: 21.22px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;


}


/* .free{
    height: 900px;
    width: 100vw;
    border: 1px solid red;
  } */

.Logo {
  width: 1827px;
  height: 243px;
  margin-top: 78px;
  color: rgba(80, 178, 129, 1);
  font-size: 100px;
  padding-left: 45px;
  overflow: hidden;
}



.Logo h1 {
  margin-left: -30px;
}

.midSection {
  height: 1000vh;
  width: 100vw;
  /* border: 1px solid red; */
  margin-top: 150px;
  background-image: url(/BGimg.svg);


  background-size: cover;

  background-repeat: no-repeat;
  width: 500px;
  height: auto;

}

.Cohort {
  /* border: 1px solid green; */
  height: 75vh;
  display: flex;

}

.CohortBTN {
  /* border: 1px solid red; */
  width: 35vw;
}

.CohortBTN button {
  border: none;
  width: 186px;
  height: 46px;
  background: rgba(80, 178, 129, 1);
  color: rgba(40, 43, 40, 1);
  margin-top: 80px;
  margin-left: 251px;
  padding: 10px 0px 10px 0px;
  gap: 10px;
  opacity: 0px;
  font-size: 16px;
  font-weight: 300;
  line-height: 21.22px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;



}

.CohortGraph {
  /* border: 1px solid yellow; */
  width: 65vw;

}

----------------------- .CohortGraph1 {
  height: 85px;
  width: 400px;
  border: 1px solid yellow;

  color: rgba(255, 255, 255, 1);

}

.CohortGraph1:nth-child(1) {
  margin-left: 455px;

}

.CohortGraph1:nth-child(2) {
  margin-left: 305px;
}

.CohortGraph1:nth-child(3) {
  margin-left: 155px;

}

.CohortGraph1:nth-child(4) {

  margin-left: 55px;
}

.CohortGraph2Line {
  display: flex;
  align-items: center;

  justify-content: start;

}

.CohortGraph2Linecircle {
  width: 8px;
  height: 8px;

  border-radius: 50%;
  /* Makes it a circle */
  margin-right: 5px;
  width: 14px;
  height: 14px;
  border: 3px solid #767676;
  margin-right: -1px;
}

.CohortGraph2smallLine {
  width: 50px;
  height: 2px;
  background-color: rgba(118, 118, 118, 1);
  width: 244px;
  height: 1px;
}


/* -------------------------- */
.active {
  transition: all 0.3s ease-in-out;
}

.active .CohortGraph2smallLine {
  background-color: rgba(255, 255, 255, 1) !important;
}

.active .CohortGraph2Linecircle {
  border-color: rgba(80, 178, 129, 1) !important;
}

.active .CohortGraphText {
  color: rgba(255, 255, 255, 1) !important;
}

/* ---------------------------- */


.CohortGraphText {
  width: 195px;
  height: 27px;
  top: 1750px;
  left: 555px;
  gap: 0px;
  color: #767676;
  font-family: Test SÃ¶hne;
  font-size: 20px;
  font-weight: 400;
  line-height: 26.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;


}


.TimeLineBar {
  /* border: 1px solid red; */
  /* height: 100vh; */
  width: 100vw;
}

.TimeLineBarHead {
  margin-left: 250px;
  width: 1217px;
  height: 170px;
  /* border: 1px solid red; */


}

.TimeLineBarHead h1 {
  font-family: Test SÃ¶hne;
  font-size: 128px;
  font-weight: 500;
  line-height: 169.73px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(80, 178, 129, 1);


}



/* ----------------------------------------------- */



.timeline {
  /* margin: 0 auto; */
  /* max-width: 750px; */

  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  font-family: "Fira Sans", sans-serif;
  color: #ffffff;
}



.timelineCount {


  width: 20px;

  width: 25px;
  height: 27px;
  top: 2194px;
  margin-left: 199px;
  gap: 0px;
  opacity: 0px;

  color: rgba(80, 178, 129, 1);

  font-family: Test SÃ¶hne;
  font-size: 20px;
  font-weight: 300;
  line-height: 26.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;


}


.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;


  width: 18px;
  height: 18px;
  /* top: 2199px; */
  margin-left: 275px;
  gap: 0px;
  border: 3px 0px 0px 0px;
  opacity: 0px;
  border: 3px solid rgba(80, 178, 129, 1);


}

.timeline__date {
  width: 285px;
  height: 64px;
  top: 2194px;
  margin-left: 0px;
  gap: 0px;
  opacity: 0px;
  /* border: 1px solid red; */

  font-family: Test SÃ¶hne;
  font-size: 24px;
  font-weight: 300;
  line-height: 31.82px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(255, 255, 255, 1);

}

/* ----------------------------------------------------------- */



/* -------------------------------------------------- */










.Backendby {
  margin-top: 60px;
  background-image: url(/BGimg2.svg);
  background-repeat: no-repeat;
  /* width: 500px; */
  height: auto;
  background-attachment: fixed;
  /* margin-top: 150px; */
  /* background-position: center center;  */
  background-position: fixed;

}





.BackendbyHead {
  margin-left: 170px;
  width: 1217px;
  height: 170px;
  /* border: 1px solid red; */
  /* overflow: hidden; */

}

.BackendbyHead h1 {
  /* font-family: Test SÃ¶hne; */
  font-size: 128px;
  font-weight: 500;
  line-height: 169.73px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(80, 178, 129, 1);

  /* position: fixed; */
  top: 150px;
  /* left: 0; */
  /* z-index: 1;  */

}



.card {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.image {
  width: 100%;
  height: auto;
}

.name {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}



.imageGrid {
  background: transparent;
  width: 800px;
  margin-left: 458px;
}

.imageGridDiv img {
  width: 205px;
  height: 180px;
  background: white;
}


.imageGridDiv {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 50px;
}

.imageGridDiv img:nth-child(1) {}

.imageGridDiv img:nth-child(3) {
  /* margin-top: 100px; */
}


/* -------------------------- */




.galleryBody {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 140px;
  position: relative;
}


.gallery {
  display: flex;
  flex-direction: column;
  width: 707px;
}

.imageGridRow {}


.imageGridRow {
  display: flex;
  justify-content: center;

}

.imageGridRow:nth-child(odd) {
  justify-content: center;
  /* Center rows with 3 images */
}

.imageGridRow:nth-child(even) {
  justify-content: space-around;
  /* Space rows with 2 images */
}

.imageGri3 {
  gap: 150px;
}

.imageGri2 {}


.container {
  position: relative;
  width: 100%;
}

.BackendbyHead {
  /* background-color: white; */
  padding: 15px;
  width: 100%;

}

.fixed {
  position: fixed;
  top: 0;
  /* border: 2px solid red; */
  left: 170px;
  width: 100%;
  margin: auto;
  /* max-width: 767px; */
  z-index: 0;
  /* background-color: white; */
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  transition: all 30000sease-in-out;
}



.hidebackedBy {
  padding-top: 300px;
}


.company_name_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 23px;
}

.company_name_container .dot {
  width: 9px;
  height: 9px;
  background: #50B281;
  border-radius: 100px;
}

.name {
  /* font-family: Test Söhne; */
  font-weight: 300;
  font-size: 24px;
  line-height: 31.82px;
  letter-spacing: 0%;
  padding-left: 0px;
  text-align: left;
}



/* travestra  start */


 .container {
  max-width: 1017px;
  margin: auto;

}
.heading h1 {
  font-weight: 500;
  font-size: 128px;
  line-height: 169.73px;
  letter-spacing: 0%;
  color: rgba(80, 178, 129, 1);
  }
  
  
  .TimeLineBarHead h1 {
    
    font-size: 128px;
    font-weight: 500;
    line-height: 169.73px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(80, 178, 129, 1);
    }
    /*
    
.TimeLineBarmain {
  display: flex;
  margin-top: 100px;

}


.TimeLineBarEllipse {
  width: 30px;
  height: auto;
  margin-left: 20px;
  gap: 0px;
  opacity: 0px;
}

.EllipseActive {}


.TimeLineBarEllipse .EllipseActive {
  width: 18px;
  height: 18px;
  z-index: 232132213;
  position: relative;
  background: #50B281;
  border-radius: 100px;
}

.TimeLineBarEllipse .Ellipse {
  width: 14px;
  height: 14px;
  z-index: 232132213;
  position: relative;
  background: #767676 !important;
  border-radius: 100px;
  margin-left: 2px;

}

.TimeLineBarEllipse div:nth-child(2) {
  margin-top: 450px;
}

.TimeLineBarEllipse div:nth-child(3) {
  margin-top: 100px;
}

.TimeLineBarEllipse div:nth-child(4) {
  margin-top: 110px;
}

.TimeLineBarEllipse div:nth-child(5) {
  margin-top: 90px;
}

.TimeLineBarEllipse div:nth-child(6) {
  margin-top: 105px;
}

.verticalline {
  height: 980px;
  border: 1px solid rgba(118, 118, 118, 1);
  margin-left: -22px;
}

.TimeLineBarParagraph {
  display: flex;
  width: 100%;
  height: 80px;
  top: 2194px;
  margin-left: 60px;
  gap: 0px;
  opacity: 0px;
}

.TimeLineBarParagraph:nth-child(2) {
  margin-top: 50px;
}

.TimeLineBarParagraph:nth-child(3) {
  margin-top: 50px;
}

.TimeLineBarParagraph:nth-child(4) {
  margin-top: 50px;
}

.TimeLineBarParagraph:nth-child(5) {
  margin-top: 40px;
}

.TimeLineBarParagraph:nth-child(6) {
  margin-top: 40px;

}

.TimeLineBarParagraph:nth-child(7) {
  margin-top: 40px;
}

.TimeLineBarImg {
  width: 435px;
  height: 334px;
  top: 2661px;
  margin-left: 60px;

}

.TimeLineBarParagraph div {
  height: 64px;
  top: 2194px;
  gap: 0px;
  opacity: 0px;

}

.TimeLineBarParagraph1st {
  height: 64px;
  text-align: left;
}

.TimeLineBarParagraph1st p {

  font-size: 24px;
  font-weight: 300;
  line-height: 31.82px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #767676;
}

.TimeLineBarParagraph2nd {
  margin-left: 145px;
  width: 420px;
  height: 63px;
  text-align: left;
}

.TimeLineBarParagraph2nd p {

  font-size: 16px;
  font-weight: 300;
  line-height: 21.22px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #767676;
}


.timeline_active p {
  color: white;
}


.EllipseActive span {
  position: absolute;
  left: -50px;
}

.Ellipse span {
  position: absolute;
  left: -50px;
} */

/* travestra end */




.ForSection1Navbar {
  display: flex;
  max-width: 1017px;
  margin: auto;
  gap: 60px;
}

.founder {
  /* font-family: Test Söhne; */
  font-weight: 400;
  font-size: 20px;
  line-height: 26.52px;
  letter-spacing: 0%;
  border-bottom: 2px solid white;
  padding-bottom: 6px;
}


.angels {
  /* font-family: Test Söhne; */
  font-weight: 400;
  font-size: 20px;
  line-height: 26.52px;
  letter-spacing: 0%;

}



.ForSection1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 1017px;
  margin: 96px auto 0px;
}


.ForSection1Discription p {
  /* font-family: Test Söhne; */
  font-weight: 300;
  font-size: 16px;
  line-height: 21.22px;
  letter-spacing: 0%;
  max-width: 367px;
}

.for_founder {
  font-weight: 500;
  font-size: 96px !important;
  line-height: 97.52px;
  letter-spacing: 0%;
  color: #50B281;
  /* width: 50%; */
  width: 300px;
}

